$main-background: #fff;
$container-width: 1200px;

$sub-text: #898f8f;
$gold: #fc0;


$font-family: "Raleway", sans-serif;
$second-family: "Roboto", sans-serif;
$third-family: "Open Sans", sans-serif;